.loader_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-radius: 100%;
  border: 5px solid #969c9f;
  border-top-color: transparent;
  width: 40px;
  height: 40px;
  animation: loading 2s infinite ease-in-out;
}

@keyframes dots {
  0% {
    content: '';
  }

  16% {
    content: '.';
  }

  33% {
    content: '..';
  }

  49% {
    content: '...';
  }

  66% {
    content: '..';
  }

  82% {
    content: '.';
  }

  100% {
    content: '';
  }
}

.loader_title {
  width: 86px;
  font-size: 16pt;
  color: #969c9f;

  &::after {
    content: '';
    animation: dots 4s infinite ease-in-out;
  }
}