@use '@styles/colors.scss' as colors;

.error_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.oops {
  font-size: 36pt;
  color: colors.$font-color;
}

.error_message {
  font-size: 12pt;
  color: colors.$font-color;
}