@use '@styles/sizes.scss' as sizes;

.map {
  height: sizes.$pc-block-side;
  min-width: sizes.$min-block-side;
  max-width: sizes.$pc-block-side;
  width: 100%;
  border: 2px solid #3a3d3e;

  @media screen and (max-width: sizes.$mobile-screen) {
    max-width: unset;
    width: 100%;
  }
}