@use '@styles/colors.scss' as colors;

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 9px 14px;
  border: 1px solid colors.$item-border;
  text-align: left;
  font-size: 12pt;
  color: colors.$font-color;
  background-color: colors.$item-bg;
  box-shadow: 1px 1px 5px 1px rgba($color: black, $alpha: 0.3);
  transition: background-color 0.5s, box-shadow 0.5s;

  &:hover {
    background-color: colors.$item-bg-selected;
  }

  &--selected {
    background-color: colors.$item-bg-selected;
    box-shadow: 1px 1px 5px 1px rgba($color: black, $alpha: 0);
  }
}

.budgets_place {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.badge {
  border-radius: 2px;
  padding: 6px 10px;
  font-size: 9pt;
  color: colors.$font-color;
  background-color: colors.$sub-item-bg;
}