@use '@styles/sizes.scss' as sizes;

.pick_points {
  max-height: sizes.$pc-block-side;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow-y: auto;

  @media screen and (max-width: sizes.$mobile-screen) {
    max-height: sizes.$mobile-block-side;
    width: 100%;
  }
}