@use '@styles/colors.scss' as colors;

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: colors.$page-bg;
}

button {
  outline: none;
  border: none;
}